<html>
    <head>
        <%- include('partials/header1.ejs') %>      
    </head>
    <body>
        <%- include('partials/navbar1.ejs') %>  
        <div class="container">
            <h2>Auckland</h2>
            <img class="img2" src="/public/images/auckland.jpg" alt="Auckland">
            <p>Auckland has many<a href="beaches">beaches</a></p>
            <p style="color: #23086f;">
                Auckland, New Zealand's largest city, is a vibrant metropolis that beautifully blends urban sophistication with natural beauty. 
                Known as the "City of Sails," Auckland boasts a stunning harbor filled with sailboats and surrounded by lush hills and volcanic cones, 
                offering breathtaking views of the surrounding area. The city is set between two harbors: the Waitematā and the Manukau, 
                providing ample opportunities for water-based activities like sailing, fishing, and kayaking. Auckland is a melting pot of cultures, 
                with a diverse population that enriches the city's arts, cuisine, and festivals. The city's downtown area is bustling with activity, 
                featuring modern skyscrapers, trendy bars, world-class restaurants, and a variety of shopping options, 
                including the upscale Britomart precinct and the bustling Queen Street. Beyond the city center, Auckland offers numerous parks and green spaces, 
                such as the expansive Auckland Domain, which houses the Auckland War Memorial Museum, and the beautiful Cornwall Park. 
                The city's unique landscape is dotted with dormant volcanoes, including Mount Eden and One Tree Hill, providing panoramic views of the city and beyond.
                For nature enthusiasts, Auckland provides easy access to stunning beaches, islands, and hiking trails. 
                The west coast is famous for its rugged coastline and black sand beaches like Piha and Muriwai, perfect for surfing and exploring. 
                The Hauraki Gulf, just off the coast, is home to numerous islands, including Waiheke Island, known for its vineyards, olive groves, 
                and beautiful beaches. Auckland's climate is mild and temperate, making it an attractive destination year-round. With its blend of cultural richness, 
                stunning natural landscapes, and a wealth of activities to enjoy, Auckland is a dynamic city that offers something for everyone. 
            </p>
        </div>
    </body>   
</html>