<html>
    <head>
        <%- include('partials/header1.ejs') %>  
    </head>
    <body>
       <%- include('partials/navbar1.ejs') %>       
        <div class="container">
            <h2>Beaches</h2>
            <img class="img2" src="/public/images/orewa.jpg" alt="Orewa Beach">
            <p>Orewa beach is......</p>
            <p style="color: blue;">
                Just half an hour north of Auckland's Harbour Bridge, 
                the town of Orewa stretches inland from the edge of a stunning three-kilometre beach. 
                It’s an ideal destination for those who enjoy swimming, surfing, kayaking, windsurfing, 
                and kite surfing. For breathtaking coastal views, a stroll along the Millennium Walkway is a must.
                Beyond the beach, Orewa offers a variety of entertainment options, including golf at Gulf Harbour, 
                wine trails, hiking in regional parks, cycling, indoor skiing, and thermal hot pools. 
                The town also has a comprehensive shopping centre and a wide selection of dining options, 
                with plenty of accommodation available.
            </p>
        </div>
    </body>   
</html>