<html>
    <head>
        <%- include('partials/header1.ejs') %>      
    </head>
    <body>
        <%- include('partials/navbar1.ejs') %>  
        <div class="container">
            <h2>New Zealand</h2>
            <img class="img2" src="/public/images/bridalVeilfalls.jpg" alt="Bridal Veil Falls">
            <p>New Zealand is a peaceful country.</p>
            <p><a href="auckland">Auckland</a> is the commercial hub of New Zealand.</p>
            <p style="color: #23086f;">
                New Zealand, an island nation in the southwestern Pacific Ocean, is famed for its stunning natural beauty and rich cultural heritage. The country's diverse landscapes range from towering mountains and lush forests to pristine beaches and geothermal wonders, making it a paradise for outdoor enthusiasts and adventure seekers. Home to the indigenous Māori culture and a vibrant multicultural society, New Zealand offers a unique blend of traditions, arts, and cuisines. Its cities, like Auckland, Wellington, and Christchurch, are dynamic hubs of culture, innovation, and history. Whether exploring its breathtaking scenery or experiencing its warm hospitality, New Zealand is a destination that captivates and inspires visitors from around the world. 
            </p>
        </div>
        <h4>This is the Home Page.</h4>
    </body>   
</html>