<html>
    <head>
        <%- include('partials/header1.ejs') %>      
    </head>
    <body>
       <h2 style="color: red">Members only page.</h2>
        <%- include('partials/navbar2.ejs') %>  
        <p style="color: #00f;">
                Welcome to a Members only page. You are now logged in.
        </p>
        <p style="color: #7fae5d;">
            Welcome to the Members Only page! As a valued member, you have exclusive access to a treasure trove of content dedicated to exploring the beauty and culture of New Zealand. 
            Here, you will find in-depth articles, travel guides, and insider tips that uncover hidden gems and must-visit spots across the country. 
            Enjoy member-only discounts on travel services, merchandise, and events, and connect with fellow enthusiasts in our private forum. 
            Stay updated with special announcements and behind-the-scenes insights, and participate in discussions to enrich your experience. 
            Thank you for joining this community—I’m excited to share the wonders of New Zealand with you! 
        </p>
    </body>   
</html>